    body {
      font-family: Arial, sans-serif;
      text-align: center;
      background: linear-gradient(135deg, #141e30, #243b55);
      padding: 50px;
    }

    .box {
      background: rgba(255, 255, 255, 0.15);
      backdrop-filter: blur(12px);
      border: 1px solid rgba(255, 255, 255, 0.3);
      color: #ffffff;
      border-radius: 12px;
      padding: 30px;
      width: 300px;
      margin: 0 auto;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      
    }

    input {
      padding: 8px;
      width: 60%;
      font-size: 16px;
      margin-bottom: 15px;
    }

    button {
      padding: 8px 12px;
      font-size: 16px;
      cursor: pointer;
      background-color: #4e54c8;
      color: white;
      border: none;
      border-radius: 6px;
      margin-left: 10px;
    }

    button:hover {
      background-color: #0056b3;
    }

    #message {
      margin-top: 20px;
      font-weight: bold;
    }
